### Enviornment variables
.env
.idea
__pycache__/

### ASR
asr/funasr-runtime-resources/models/*
asr/openai-whisper/models/*
### TTS
tts/chattts/asset/*
tts/cosyvoice2/cosyvoice/pretrained_models/*
### LVM
lvm/deepface/.deepface/*