openai-whisper
numpy
websocket-client~=1.8.0
websockets~=11.0.3
funasr~=1.2.3
python-dotenv~=0.21.0
openai~=1.59.9
deepface~=0.0.93
paddleocr~=2.9.1
pillow~=10.4.0
gradio
requests~=2.32.3
opencv-python~=4.6.0.66
gdown~=5.2.0
imageio~=2.33.1
huggingface-hub~=0.27.1
omegaconf~=2.3.0
tqdm~=4.66.5
torchvision~=0.20.1
scipy~=1.15.1
diffusers~=0.32.2
regex~=2024.11.6
more-itertools~=10.3.0
transformers~=4.48.1
soundfile~=0.13.0
pandas~=2.2.3
datasets~=3.2.0
peft~=0.4.0
modelscope~=1.22.3
tiktoken~=0.8.0
matplotlib~=3.10.0
tencentcloud-sdk-python~=3.0.1309
chattts~=0.0.0
torchaudio~=2.5.1
onnxruntime~=1.20.1
inflect~=7.0.0
hyperpyyaml~=1.2.2
einops~=0.8.0
pyarrow~=17.0.0
librosa
packaging~=24.2
uvicorn~=0.34.0
fastapi~=0.115.6
pyyaml~=6.0.2
psutil~=5.9.0
pydantic~=2.10.3
pytorch-lightning~=2.5.0.post0
typeguard~=2.13.3
torchmetrics~=1.6.1
pypinyin~=0.44.0
opencc~=1.1.9
jamo~=0.4.1
g2p-en~=2.1.0
nltk~=3.9.1